<div class="render" style="border-style:solid; border-width:1px; padding-left:2px; padding-right:2px;">
<div id='header'>
    <div>
        <div class="IB"><b>{{creature.name}}</b></div>{% if creature.augmented %}<div class="IB right">(Augment Summons)</div>{% endif %}<div class ="IB right"><b>CR {{creature.CR}}</b></div>
  </div>
  <div>{{creature.alignment}} {{creature.base.Size}} {{creature.base.Type}} {{creature.base.extraTypes}}</div>
  <div><b>Init</b> {{creature.initiativeText}}; <b>Senses</b> {{creature.base.Senses}}{%if creature.extraSensesText%} {{creature.extraSensesText}}{%endif%}; {{creature.perception}}</div>
  {% if creature.generalShort %}<div>{{ creature.generalShort|safe}}</div>{%endif%}
</div>
<div id='defense'>
<h3>Defense</h3>
  <div><b>AC</b> {{creature.AC}}, touch {{creature.touchAC}}, flat-footed {{creature.flatFootedAC}} {{creature.ACcomponents}}</div>
  <div><b>HP</b> {{creature.HP}} {{creature.HPcomponents}}{%if creature.base.extraHPText%}; {{creature.base.extraHPText}}{%endif%}</div>
  <div><b>Fort</b> {{creature.Fort}}, <b>Ref</b> {{creature.Ref}}, <b>Will</b> {{creature.Will}}{{creature.base.extraWillText}}</div>
  {%spaceless%}
  {% if creature.SR or creature.extraTypesDefences or creature.base.DefenseText or creature.base.Type.Immune or creature.base.Type.Weaknesses or creature.defenseShort %}
  <div class="IB">
  {% if creature.defenseShort %}<b>Defensive Abilities</b> {{ creature.defenseShort|safe}}{%endif%}
  {{creature.extraTypesDefences|safe}}
  {{creature.base.DefenseText|safe}}
  {% if creature.SR %}<b>SR</b> {{creature.SR}}{% endif %}
  {% if creature.base.Type.Immune %}
  <b>Immune</b> {{creature.base.Type.Immune|safe}}
  {% endif %}
  {% if creature.base.Type.Weaknesses %}
  <b>Weaknesses</b> {{creature.base.Type.Weaknesses}}
  {% endif %}
  </div>
  {% endif %}
  {%endspaceless%}
</div>

<div id='offense'>
<h3>Offense</h3>
  <div><b>Speed</b> {{creature.Speed}}</div>
  {% if creature.melee %}
    <div><b>Melee</b> {{creature.meleeText}}</div>
  {% endif %}
  {% if creature.ranged%}
    <div><b>Ranged</b> {{creature.rangedText}}</div>
  {% endif %}
  {% if creature.base.Space %}
  <div>{{creature.base.Space|safe}}</div>
  {% endif %}
  {% if creature.specialShort %}
  <div><b>Special Attacks</b> {{ creature.specialShort|safe }}</div>
  {% endif %}
  {% if creature.base.OffenseText %}
  <div>{{creature.base.OffenseText|safe}}</div>
  {% endif %}
</div>

<div id='statistics'>
  <h3>Statistics</h3>
  <div><b>Str</b> {{creature.Str}}, <b>Dex</b> {{creature.Dex}}, <b>Con</b> {{creature.Con}}, <b>Int</b> {% if creature.Int == 0 %}-{% else %}{{creature.Int}}{%endif%}, <b>Wis</b> {{creature.Wis}}, <b>Cha</b> {{creature.Cha}}</div>
  <div><b>Base Atk</b> {{creature.BABtext}}, <b>CMB</b> {{creature.CMB}}{{creature.CMBText}}, <b>CMD</b> {{creature.CMD}}{{creature.CMDText}}</div>
  {% if creature.base.Feats.count %}
  <div><b>Feats </b>{% for feat in creature.base.Feats.all %}{% if not forloop.first %}, {% endif %}{{feat}}{% endfor %}</div>
  {% endif %}
</div>
{% for item in creature.Skills %}{% if forloop.first %}<div><b>Skills </b> {% endif %}{% if not forloop.first %}, {% endif %}{{ item }}{% if forloop.last %}</div>{%endif%}{% endfor %}
{% if creature.base.Languages.count %}
<div>
<b>Languages</b>
{% for language in creature.base.Languages.all %}{% if not forloop.first %}, {% endif %}{{language}}{% endfor %}
</div>
{% endif %}
{% if creature.statShort %}<div><b>SQ</b> {{ creature.statShort|safe}}</div>{%endif%}
{% if creature.specials %}
<div id='special'>
    <h3>Special Abilities</h3>
    {% for item in creature.specials %}
    <div>
          <b>{{item.name}}</b>
          {{item.text}}
    </div>
    {% endfor %}
</div>
{% endif %}
</div>
 
