{% extends "site_base.html" %}

{% block head_title %}"Choose Creatures"{% endblock %}

{% block body %}
<script>
    function clicker(className, value) {
        $(className).prop('checked',value);
    };
    $( document ).ready( function() {
        $('#include_all').click(function(){
            clicker('.c_check',$(this).prop('checked'));
        });
        $('#augment_all').click(function(){
            clicker('.cb_augment',$(this).prop('checked'));
        });
        $('.cb_augment').click(function(){
            $('#creature_'+$(this).data('which')).prop('checked',true);
        });

        {% for item in extraTypes %}
        $('#{{item.short}}_all').click(function(){
            clicker('.cb_{{item.short}}',$(this).prop('checked'));
        });
        $('.cb_{{item.short}}').click(function(){
            $('#creature_'+$(this).data('which')).prop('checked',true);
        });
        {% endfor %}
        $( "#slider" ).slider({ value:0.875, min:0.5, max:1.2, step: 0.005,
            stop: function( event, ui ) { $('#slider_value').val(ui.value);}
        });
        $( "#sliderColumns" ).slider({ value:2, min:1, max:5, step: 1,
            stop: function( event, ui ) { $('#sliderColumns_value').val(ui.value); 
                $('#columnsText').html("&nbsp"+ui.value+"&nbsp");}
        });
    });
    function toSubmit() {
        if ($('input.c_check:checked').length <= 0) {
            alert('You must select some creatures to include.');
            return false;
        }
        return true;
    };
</script>
<form method="post" id="creature_list" action="/pfs/list/handle/" onsubmit="return toSubmit()"> {% csrf_token %}
<div class="container-fluid">
    <div><button type="submit" style="display:block; white-space:nowrap">Generate</button></div>
    <div class="IB" style="width:100%;">
        <div class="IB">
            <div class="IB" style="border-style:dashed; border-width:1px; padding:5px; margin:2px;">
                <div class="IB">Font Size</div>
                <div class="IB" id="slider" style="min-width:100px; max-width:150px;"></div>
            <div class="IB"><input type="text" readonly id="slider_value" name="font_size" value="0.875" size=4 style="border-style:none"></div>
            </div>
            <div class="IB" style="border-style:dashed; border-width:1px; padding:5px; margin:2px;">
                <div class="IB"># Columns<p class="IB" id="columnsText" style="margin:0px;">&nbsp2&nbsp</p></div>
                <div class="IB" id="sliderColumns" style="min-width:100px; max-width:100px;"></div>
            </div>
            <div class="IB"><input type="hidden" id="sliderColumns_value" name="columns" value="2"></div>
        </div>
        <div class="IB right">
            <div class="IB left" style="font-weight:bold;">All:</div>
            {% for item in extraTypes %}
            <div class="IB left pad"><input type="checkbox" {% if item in defaultTypes %}checked{% endif %} id="{{item.short}}_all"><label for="{{item.short}}_all">{{item.name}}</label></input></div>
            {% endfor %}
            <div class="IB right pad"><input type="checkbox" {% if group %}checked{% endif %} id="include_all"><label for="include_all">Include</label></div>
            <div class="IB right pad"><input type="checkbox" {% if group and group.Augmented %}checked{% endif %} id="augment_all"><label for="augment_all">Augment</label></div>
        </div>
    </div>
{% for creature in creatures %}
<div class ="IB {% if forloop.counter|divisibleby:2 %}even{% else %} odd {% endif %}" style="width:100%;">
    <div class=IB><a href='/pfs/creature/{{creature.id}}/'>{{creature.name}}</a></div>
    <div class="IB right">
        {% for item in extraTypes %}
            {% if item in creature.SupportedExtraType.all %}
            <div class="IB left pad"><input class="cb_{{item.short}}" type="checkbox" {% if item in defaultTypes %}checked{% endif %} name=modify_{{creature.id}}_{{item.short}} id=modify_{{creature.id}}_{{item.short}} data-which="{{creature.id}}"><label for=modify_{{creature.id}}_{{item.short}}>{{item.name}}</label></input></div>
            {% endif %}
        {% endfor %}
        <div class="IB right pad"><input class="c_check" type="checkbox" {% if group %} checked {% endif %} name=creature_{{creature.id}} id=creature_{{creature.id}}><label for=creature_{{creature.id}}>Include</label></input></div>
        <div class="IB right pad"><input class="cb_augment" type="checkbox" {% if group and group.Augmented %}checked{% endif %} name=modify_{{creature.id}}_augment id=modify_{{creature.id}}_augment data-which="{{creature.id}}"><label for=modify_{{creature.id}}_augment>Augment</label></input></div>
        </div>
</div>
{% endfor %}
</div>
<button type="submit" style="display:block; white-space:nowrap">Generate</button>
</form>

{% endblock %}

