{% extends "site_base.html" %}

{% block head_title %}"Choose Creatures"{% endblock %}

{% block body %}
<script>
    function toSubmit() {
        if ($('input.c_check:checked').length <= 0) {
            alert('You must select some creatures to include.');
            return false;
        }
        return true;
    }
</script>
<form method="post" id="creature_list" action="/pfs/list/handle/" onsubmit="return toSubmit()"> {% csrf_token %}
{% for creature in creatures %}
<div class ="IB" style="width: 600px;">
    {% if group %}
    <div class=IB style="width:50%;"><a href='/pfs/creature/{{creature.creature.id}}/{% if creature.augmented %}augment/{%endif%}'>{{creature.creature.name}}</a></div>
    <div class="IB right">
        <div class="IB right pad"><input class="c_check" type="checkbox" checked name=creature_{%if creature.augmented %}augment_{%endif%}{{creature.creature.id}}>Include</input></div>
    </div>
    {% else %}
    <div class=IB style="width:50%;"><a href='/pfs/creature/{{creature.id}}/'>{{creature.name}}</a><a class='right' href='/pfs/creature/{{creature.id}}/augment/'>(Augment Summons)</a></div>
    <div class="IB right">
    <div class="IB left pad"><input class="c_check" type="checkbox" name=creature_{{creature.id}}>Include</input></div>
    <div class="IB right pad"><input class="c_check" type="checkbox" name=creature_augment_{{creature.id}}>Include with Augment Summons</input></div>
    </div>
    {% endif %}
</div>
{% endfor %}
<button type="submit" style="display:block; white-space:nowrap">Generate</button>
</form>

{% endblock %}

