{% extends "theme_bootstrap/base.html" %}

{% load staticfiles %}
{% load metron_tags %}
{% load i18n %}
{% block nav %}
    <ul class="nav navbar-nav">
        <li><a href="/pfs/list/">Creatures</a></li>
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Groups</a>
                <ul class="dropdown-menu">
                    {% for group in groups %}
                    <li><a href="/pfs/list/{{group.id}}/">{{group}}</a></li>
                    {% endfor %}
                </ul>
        </li>
    </ul>
{% endblock %}


{% block style_base %}
    <link href="{% static "pinax/css/theme.css" %}" rel="stylesheet">
    <link href="{% static "css/site.css" %}" rel="stylesheet">
    <link href="{% static "css/pfss.css" %}" rel="stylesheet">
    <link href="{% static "css/ui-lightness/jquery-ui.min.css" %}" rel="stylesheet">
    <link href="{% static "css/ui-lightness/theme.css" %}" rel="stylesheet">
    {% block extra_style %}{% endblock %}
{% endblock %}


{% block extra_head_base %}
    <link rel="icon" href="{% static "pfss/icons/favicon.ico" %}" type="image/x-icon">
    <!-- touch icons -->
    <!-- For non-Retina (@1× display) iPhone, iPod Touch, and Android 2.1+ devices: -->
    <link href="{% static "pfss/icons/apple-touch-icon-precomposed" %}" rel="apple-touch-icon-precomposed.png"><!-- 57×57px -->
    <!-- For the iPad mini and the first- and second-generation iPad (@1× display) on iOS ≤ 6: -->
    <link href="{% static "pfss/icons/apple-touch-icon-precomposed" %}" sizes="72x72" rel="apple-touch-icon-72x72-precomposed.png">
    <!-- For the iPad mini and the first- and second-generation iPad (@1× display) on iOS ≥ 7: -->
    <link href="{% static "pfss/icons/apple-touch-icon-precomposed" %}" sizes="76x76" rel="apple-touch-icon-76x76-precomposed.png">
    <!-- For iPhone with @2× display running iOS ≤ 6: -->
    <link href="{% static "pfss/icons/apple-touch-icon-precomposed" %}" sizes="114x114" rel="apple-touch-icon-114x114-precomposed.png">
    <!-- For iPhone with @2× display running iOS ≥ 7: -->
    <link href="{% static "pfss/icons/apple-touch-icon-precomposed" %}" sizes="120x120" rel="apple-touch-icon-120x120-precomposed.png">
    <!-- For iPad with @2× display running iOS ≤ 6: -->
    <link href="{% static "pfss/icons/apple-touch-icon-precomposed" %}" sizes="144x144" rel="apple-touch-icon-144x144-precomposed.png">
    <!-- For iPad with @2× display running iOS ≥ 7: -->
    <link href="{% static "pfss/icons/apple-touch-icon-precomposed" %}" sizes="152x152" rel="apple-touch-icon-152x152-precomposed.png">
    <!-- For iPhone 6 Plus with @3× display: -->
    <link href="{% static "pfss/icons/apple-touch-icon-precomposed" %}" sizes="180x180" rel="apple-touch-icon-180x180-precomposed.png">
    <!-- For Chrome for Android: -->
    <link rel="icon" sizes="192x192" href="{% static "pfss/icons/touch-icon-192x192.png" %}">

    <!-- Nice stuff for Metro -->
    <meta name="application-name" content="Pathfinder Summoner's Scribe"/>
    <meta name="msapplication-TileColor" content="#990011"/>
    <meta name="msapplication-square70x70logo" content="{% static "pfss/icons/metro_tile-70x70.png" %}"/>
    <meta name="msapplication-square150x150logo" content="{% static "pfss/icons/metro_tile-150x150.png" %}"/>
    <meta name="msapplication-square310x310logo" content="{% static "pfss/icons/metro_tile-310x310.png" %}"/>

    <!-- Open Graph stuff -->
    <meta property="og:title" content="Pathfinder Summoner's Scribe">
    <meta property="og:type" content="website">
    <meta property="og:url" content="/pfs/">
    <meta property="og:image" content="{% static "pfss/icons/touch-icon-192x192.png" %}">
    {% block extra_head %}{% endblock %}
{% endblock %}


{% block footer %}
    {% include "_footer.html" %}
{% endblock %}


{% block extra_body_base %}
    {% analytics %}
    {% block extra_body %}{% endblock %}
{% endblock %}
